@{
    ViewData["Title"] = "Контакты";
}

<div class="text-center">
    <h1 class="display-4">Добро пожаловать</h1>
    <p class="text-danger">Сайт в разработке.</p>
</div>
<div>
    <iframe src="https://discordapp.com/widget?id=513825031525105684&theme=dark" width="350" height="500" allowtransparency="true" frameborder="0"></iframe>
</div>
